.home {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home-container {
  background-color: antiquewhite;
  padding: 20px;
  flex: 1;
  text-align: center;
  border-radius: 20px;
}
.home-header {
  background-color: white;
  display: flex;
  padding: 1rem;
  justify-content: center;
}
.home-header li {
  list-style: none;
  margin: 0 1rem;
  cursor: pointer;
  font-size: 0.8rem;
}
.home-header li:hover {
  background: linear-gradient(90deg, #000 50%, #0000 0) right/200% 100%;
  color: rgb(241, 143, 13);
}
@media only screen and (max-width: 600px) {
  .home-container {
    flex: 0.9;
  }
}
